<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <title>Centros de investigación</title>
</head>
<body>
    <div class="container-fluid overflow-hidden">
        <div class="row vh-100 overflow-auto">
            <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-white sidebar d-flex sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <a href="/" class="pb-sm-3 mb-md-0 me-md-auto text-black text-decoration-none">
                        <img src="/img/logo-espol-2.png" width="99" height="46px" alt="logo">
                        <h5>Admin</h5>
                    </a>
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                        <li class="mb-3">
                            <a href="/admin" class="nav-link px-sm-0 px-2 d-flex">
                                <img src="/img/sidebar/investigador.png"/>
                                <span class="ms-1 d-none d-sm-inline">Archivos de investigadores</span> 
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/admin/unidades" class="nav-link px-sm-0 px-2 d-flex">
                                <img src="/img/sidebar/unidad.png"/>
                                <span class="ms-1 d-none d-sm-inline">Unidades académicas</span>
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/admin/centros" class="nav-link px-sm-0 px-2 d-flex">
                                <img src="/img/sidebar/centro.png"/>
                                <span class="ms-1 d-none d-sm-inline current-item">Centros de investigación</span>
                            </a>
                        </li>
                    </ul>
                    <%- include("templates/perfil.templates.ejs")%>
                </div>
            </div>
            <div class="col d-flex flex-column h-sm-100">

                <% if(messageCenter.show){ %>

                    <div class="alert alert-<%=messageCenter.type%> alert-dismissible fade show mt-2 text-center" role="alert">
                        <strong><%=messageCenter.content%></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                <% } %>  

                <main class="row overflow-auto p-4">
                   
                    <div class="col-md-5">
                        <div class="card">
                            
                            <div class="card-body">
                                <h5 class="card-title text-center">Nuevo centro de investigación</h5>
                                
                                <form action="/admin/centros" method="POST" enctype="multipart/form-data" id="form-add">

                                    <div class="d-flex flex-column align-items-center">
                                        <img class="img-fluid rounded" id="logo" height="35%" width="35%"/>

                                        <label for="input-logo" class="form-label btn" 
                                            data-bs-toggle="tooltip" title="Cargar logo"
                                        >
                                            <img src="/img/upload_file.png"/>

                                            <input class="form-control" id="input-logo" 
                                                type="file" 
                                                accept="image/png,image/ico,image/svg+xml,image/jpeg" 
                                                name="logo"
                                                style="opacity: 0; width: 0; height: 0; border: none; position: absolute; pointer-events: none;"
                                                required
                                            >
                                        </label>
                                        <div id="message"></div>
                                    </div>
                                    <div class="mb-2">
                                        <label for="input-color" class="form-label">Color</label>
                                        <input type="color" class="form-control" id="input-color" name="color" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="input-name" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="input-name" name="nombre" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="input-siglas" class="form-label">Siglas</label>
                                        <input type="text" class="form-control" id="input-siglas" name="siglas" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="input-siglas" class="form-label">Sitio web</label>
                                        <input type="text" class="form-control" id="input-link" name="link">
                                    </div>
                                    <div class="mb-2">
                                        <label for="input-siglas" class="form-label">Vinculación</label>

                                        <select class="form-control" id="input-vinculacion" name="vinculacion" required>
                                            <option value="institucional">Institucional</option>

                                            <% unitNames.forEach(name => { %>
                                                <option value="<%= name %>"><%= name %></option>
                                            <% }) %>

                                        </select>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary"  id="button-submit">Aceptar</button>
                                        <a class="btn btn-secondary" style="display: none;" id="button-cancel">Cancelar</a>       
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <table class="table fixed_header">
                            <thead>
                              <tr class=text-start>
                                <th scope="col">#</th>
                                <th scope="col">Logos</th>
                                <th scope="col">Centros</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% i = 0 %>
                                <% centers.forEach(item => { %>
                                    <% i++ %>
                                    <tr>
                                        <td>
                                            <%= i %>
                                        </td>
                                        <td>
                                            <img class="img-fluid rounded" src="<%= item.logo %>">
                                        </td>
                                        <td>
                                            <%= item.nombreCompleto %>
                                        </td>
                                        <td class="d-flex">
                                            <a href="/admin/centros/edit/<%= item.id %>" data-bs-toggle="tooltip" title="Editar">
                                                <img class="btn btn-primary me-1" src="/img/edit.png"/>
                                            </a>
                                            <img class="btn btn-danger delete-center" src="/img/delete.png" 
                                                id="<%= item.id %>"
                                                data-bs-toggle="tooltip" title="Eliminar"
                                            />
                                        </td>
                                    </tr>
                                <% }) %>
        
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
    </div>    
    <script src="/js/adminCrud.js"></script>
</body>
</html>