<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <title>Investigadores</title>
</head>
<body>
    <div class="container-fluid overflow-hidden">
        <div class="row vh-100 overflow-auto">
            
            <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-white sidebar d-flex sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <a href="/" class="pb-sm-3 mb-md-0 me-md-auto text-black text-decoration-none">
                        <img src="/img/logo-espol-2.png" width="99" height="46px" alt="logo">
                        <h5>Admin</h5>
                    </a>
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                        <li class="mb-3">
                            <a href="/admin" class="nav-link px-sm-0 px-2 d-flex">
                                <img src="/img/sidebar/investigador.png"/>
                                <span class="ms-1 d-none d-sm-inline current-item">Archivos de investigadores</span> 
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/admin/unidades" class="nav-link px-sm-0 px-2 d-flex">
                                <img src="/img/sidebar/unidad.png"/>
                                <span class="ms-1 d-none d-sm-inline">Unidades académicas</span>
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/admin/centros" class="nav-link px-sm-0 px-2 d-flex">
                                <img src="/img/sidebar/centro.png"/>
                                <span class="ms-1 d-none d-sm-inline">Centros de investigación</span>
                            </a>
                        </li>
                    </ul>

                    <%- include("templates/perfil.templates.ejs")%>
                
                </div>
            </div>

            <div class="col h-sm-100">

                <% if(message.show){ %>

                    <div class="alert alert-<%=message.type%> alert-dismissible fade show mt-2 text-center" role="alert">
                        <strong><%=message.content%></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                <% } %> 

                <main>
                    <div class="row overflow-auto d-flex justify-content-center">
                        <div class="col-md-4">
                            <div class="card m-4">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Publicaciones por área</h5>
                                    <form action="/admin/upload/publicaciones" method="POST" enctype="multipart/form-data">
                                        <div class="d-flex flex-column align-items-center">
                                            
                                            <label for="input-dafile" class="form-label btn" 
                                                data-bs-toggle="tooltip" title="Cargar nuevo archivo"
                                            >
                                                <h6 id="dafilename">
                                                    <a href="/admin/download/publicaciones">
                                                        <%= documentFile %>
                                                    </a>
                                                </h6>
    
                                                <img src="/img/upload_doc.png"/>
        
                                                <input class="form-control" id="input-dafile" 
                                                    type="file" 
                                                    accept="text/csv" 
                                                    name="file"
                                                    required
                                                    hidden
                                                >
                                            </label>
                                            <input id="da-original" type="hidden" value="<%= documentFile %>">

                                        </div>
                
                                        <div class="text-center" id="buttons-documents"></div>    
                                    </form>
        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card m-4">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Lista de investigadores</h5>
                                    
                                    <form action="/admin/upload/investigadores" method="POST" enctype="multipart/form-data">
        
                                        <div class="d-flex flex-column align-items-center">
                                            <h6 id="rsfilename">
                                                <a href="/admin/download/investigadores">
                                                    <%= researcherFile %>
                                                </a>
                                            </h6>
                                            
                                            <label for="input-rsfile" class="form-label btn" 
                                                data-bs-toggle="tooltip" title="Cargar nuevo archivo"
                                            >
                                                <img src="/img/upload_doc.png"/>
        
                                                <input class="form-control" id="input-rsfile" 
                                                    type="file" 
                                                    accept="text/csv" 
                                                    name="file"
                                                    required
                                                    hidden
                                                >
                                            </label>
                                            <input id="rs-original" type="hidden" value="<%= researcherFile %>">
                                        </div>
                
                                        <div class="text-center" id="buttons-researchers"></div>
                                        
                                    </form>
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row overflow-auto d-flex justify-content-center">
                        <div class="col-md-4">
                            <div class="card m-4">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Usuarios</h5>
                                    
                                    <form action="/admin/upload/usuarios" method="POST" enctype="multipart/form-data">
        
                                        <div class="d-flex flex-column align-items-center">
                                            <h6 id="usrfilename">
                                                <a href="/admin/download/usuarios">
                                                    <%= usersFile %>
                                                </a>
                                            </h6>
                                            
                                            <label for="input-usrfile" class="form-label btn" 
                                                data-bs-toggle="tooltip" title="Cargar nuevo archivo"
                                            >
                                                <img src="/img/upload_doc.png"/>
        
                                                <input class="form-control" id="input-usrfile" 
                                                    type="file" 
                                                    accept="text/json" 
                                                    name="file"
                                                    required
                                                    hidden
                                                >
                                            </label>
                                            <input id="usr-original" type="hidden" value="<%= usersFile %>">
                                        </div>
                
                                        <div class="text-center" id="buttons-users"></div>
                                        
                                    </form>
        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card m-4">
                                <div class="card-body">
                                    <h5 class="card-title text-center">API Key</h5>
                                    
                                    <form action="/admin/upload/apikey" method="POST" enctype="multipart/form-data">
        
                                        <div class="d-flex flex-column align-items-center">
                                            <h6 id="akfilename">
                                                <a href="/admin/download/apikey">
                                                    <%= apikeyFile %>
                                                </a>
                                            </h6>
                                            
                                            <label for="input-akfile" class="form-label btn" 
                                                data-bs-toggle="tooltip" title="Cargar nuevo archivo"
                                            >
                                                <img src="/img/upload_doc.png"/>
        
                                                <input class="form-control" id="input-akfile" 
                                                    type="file" 
                                                    accept="text/json" 
                                                    name="file"
                                                    required
                                                    hidden
                                                >
                                            </label>
                                            <input id="apikey-original" type="hidden" value="<%= apikeyFile %>">
                                        </div>
                
                                        <div class="text-center" id="buttons-apikey"></div>
                                        
                                    </form>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>    
    <script src="/js/previewFilename.js"></script>
</body>
</html>