<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <title>Perfil de investigador</title>
</head>
<body>
    <%- include("templates/navbar.templates.ejs", {titulo: "Perfil de investigador"})%>
    <main>
        <div id="maincontainer">
            <section class="container p-3">
                <div class="row">
                    <div class="col-md-6 d-flex">

                        <img src="<%= information.srcFoto %>" style="object-fit: contain" class="me-2 rounded h-100 w-25 img-fluid"/>  
                        <div>
                            <h3 id="name"><%= information.nombre%></h3>
                            <p id="scopusName" style="display: none"><%= information.nombreScopus %></p>
                            <% information.afiliaciones.unidades.forEach(item => { %>
    
                                <p class="badge rounded-pill bg-secondary">
                                    <a href="/unidad/<%= item %>" style="text-decoration: none; color: white;">
                                        <%= item%>
                                    </a>
                                </p>
    
                            <% }) %>
    
                            <% information.afiliaciones.centros.forEach(item => { %>
    
                                <p class="badge rounded-pill bg-secondary">
                                    <a href="/centro/<%= item %>" style="text-decoration: none; color: white;">
                                        <%= item%>
                                    </a>
                                </p>
    
                            <% }) %>

                            <%if(information.orcid != -1){ %>
                                <p>Orcid: <a id="Orcid"
                                    href="https://orcid.org/<%= information.orcid %>"
                                    target="_blank"><%= information.orcid%></a></p>
                            <% } %>
    
                            <p>Scopus id: <a id="scopusId" 
                                href="https://www.scopus.com/authid/detail.uri?authorId=<%= information.id %>"
                                target="_blank"><%= information.id%></a></p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h5>Áreas de investigación</h5>

                        <% if(information.areas.length > 0){ %>
                            <% information.areas.forEach(item => { %>
    
                                <p class="badge rounded-pill bg-secondary"><%= item%></p>
    
                            <% }) %>
                        <% }else if(information.areas.length == 0){ %>

                            <p>No registra</p>

                        <%}else{ %>
                            
                            <p>No disponible</p>

                        <% } %>


                    </div>
                </div>
            </section>

            <div class="division"></div>

            <section class="container p-3">
                <div class="row"> 
                    <div class="col-md-2">
                        <h5>Métricas</h5>
                        
                        <%if(information.documentos >= 0){ %>
                            <h5><%= information.documentos%></h5>
                            <p>Publicaciones</p>
                        <% } %>
                        
                        <%if(information.citas >= 0){ %>
                            <h5><%= information.citas%></h5>
                            <p>Citaciones</p>
                        <% } %>
                        
                        <%if(information.hIndex >= 0){ %>
                            <h5><%= information.hIndex%></h5>
                            <p>H-index</p>
                        <% } %>

                        <%if(information.h5Index >= 0 && information.h5Index != null){ %>
                            <h5><%= information.h5Index%></h5>
                            <p>H5-index</p>
                        <% } %>

                        <%if(information.fcwi >= 0){ %>
                            <h5><%= information.fcwi%></h5>
                            <p>FCWI</p>
                        <% } %>
                       
                    </div>
                    <div class="col-md-5 text-center">
                        <div id="info-citaciones">
                            Citaciones por año
                            <img src="/img/info.ico" data-toggle="tooltip" data-placement="top" 
                            title="Citaciones de las publicaciones del autor&#10en los últimos seis años.&#10Estos son siempre los años en los que se&#10publicaron los artículos y no se refieren a&#10los años en los que se recibieron las citas.">
                            </img>`
                        </div>
                        <canvas id="grafica-citaciones" width="400" height="300">
                        </canvas>
                    </div>
                    <div class="col-md-5 text-center">
                        <div id="info-publicaciones">
                            Publicaciones por año
                            <img src="/img/info.ico" data-toggle="tooltip" data-placement="top" 
                            title="Cantidad de publicaciones indexadas del autor&#10por cada uno de los últimos seis años.">
                            </img>`
                        </div>
                        <canvas id="grafica-publicaciones" width="400" height="300">
                        </canvas>
                    </div>
                </div>
            </section>  

            
            <div class="container text-center">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="investigadores-tab" data-bs-toggle="tab" data-bs-target="#investigadores" type="button" role="tab" aria-controls="home" aria-selected="true">Publicaciones</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#colaboradores" type="button" role="tab" aria-controls="profile" aria-selected="false">Colaboradores</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#proyectos" type="button" role="tab" aria-controls="contact" aria-selected="false">Proyectos</button>
                    </li>

                </ul>
            </div>

            <div class="division"></div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="investigadores" role="tabpanel" aria-labelledby="home-tab">

                    <section class="container p-3 text-center">
        
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <% if(information.publicaciones.length > 0){ %>
                                    <table id="sortedTable" class="table">
                                        <thead class="clickable-header">
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Título</th>
                                            <th scope="col">Citaciones</th>
                                            <th scope="col">Año de publicación</th>
                                            <th scope="col">Publicado en</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <% i = 0 %>
                                            <% information.publicaciones.forEach(item => { %>
                                                <% i++ %>
                                                <tr class="publication-item item" id="<%= item[3] %>" onclick="handleClick(<%= item[3] %>, <%= item[3] %>)" data-bs-toggle="modal" data-bs-target="#modal-<%= item[3] %>">
                                                    <th scope="row"><%= i %></th>
                                                    <td id="titulo-<%= i %>">
                                                        <p><%= item[0]%></p>
                                                    </td>
                                                    <td id="citaciones-<%= i %>">
                                                        <p id="citation-count-<%= item[3] %>"><%= item[1]%></p>
                                                    </td>
                                                    <td id="anio_publicacion-<%= i %>">
                                                        <p><%= item[2]%></p>
                                                    </td>
                                                    <td id="lugar_publicacion-<%= i %>">
                                                        <p><%= item[4]%></p>
                                                    </td>
                                                </tr>
    
                                                <div class="modal fade" id="modal-<%= item[3] %>" tabindex="-1" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Publicación</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body" id="content-<%= item[3] %>">
                                                                <div class="spinner-border" role="status" id="waiting-<%= item[3] %>">
                                                                    <span class="visually-hidden">Loading...</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
    
                                            <% }) %>
                    
                                        </tbody>
                                    </table>
                                <% }else if(information.publicaciones.length == 0){ %>
                                    <p>No registra publicaciones</p>
                                <% }else{ %>
                                    <p>No disponible</p>
                                <% } %>

                            </div>
                        </div>
        
                    </section>

                </div>

                <div class="tab-pane fade" id="colaboradores" role="tabpanel" aria-labelledby="profile-tab">

                    
                    <section class="container p-3 text-center">
        
                        <div class="row justify-content-center">
                            <div class="col-md-8" id="colaborators">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
        
                    </section>

                </div>

                <div class="tab-pane fade" id="proyectos" role="tabpanel" aria-labelledby="profile-tab">
                    <section class="container p-3">
        
                        <div class="row justify-content-center text-center" id="proyectos">
                            <div class="col-md-6">   
                                <h5>Proyectos por año</h5>

                                <div id="temp-spinner" class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div id="info" class="text-start mb-2"></div>
                                <canvas id="projects-by-year"></canvas>
                            </div>
                            <div class="col-md-6 d-flex justify-content-evenly">
                                <div>
                                    <h5>En ejecución</h5>
                                    <div id="num-current-projects">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <h5>Finalizados</h5>
                                    <div id="num-finished-projects">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <h5>Total</h5>
                                    <div id="num-total-projects">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">   
                            
                            <div class="mb-4" id='current-projects'></div>       
                            <div id="divisor"></div>
                            <div class="mt-4" id="finished-projects"></div>

                        </div>
        
                    </section>
                </div>
            </div>


        </div>     
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/js/graficos.js"></script>
    <script src="/js/colaboradores.js"></script>
    <script src="/js/proyectos.js"></script>
    <script src="/js/publicaciones.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="/js/tableSorter.js"></script>
</body>
</html>