<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
    <title>Repositorio de investigadores</title>
</head>
<body>
    <main>
        
        <div class="finder">
            <img src="/img/logo-espol.png" alt="logo">

            <h2><b>Repositorio de investigadores</b></h2>
            
            <form method="POST" action="/resultados" class="form-group">
                <div class="form-group">
                    <input type="search" class="form-control" id="input-finder"
                    placeholder="Busca un investigador, unidad académica o centro de investigación" 
                    name="terms" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="submit-finder" value="Buscar">
                </div>   
            </form>
        </div>

        <br/>
        <br/>
        <br/>

        <div class="container text-center">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="investigadores-tab" data-bs-toggle="tab" data-bs-target="#unidades-academicas" type="button" role="tab" aria-controls="home" aria-selected="true">Unidades académicas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#centros-investigacion" type="button" role="tab" aria-controls="profile" aria-selected="false">Centros de investigación</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#estadisticas" type="button" role="tab" aria-controls="contact" aria-selected="false">Estadísticas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#autores-top" type="button" role="tab" aria-controls="contact" aria-selected="false">Autores top</button>
                </li>
            </ul>
        </div>

        <div class="division"></div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="unidades-academicas" role="tabpanel" aria-labelledby="home-tab">
                <section class="container p-3 text-center">

                    <div class="row justify-content-center">

                        <a href="/unidad/FIEC">FIEC</a>
                        <a href="/unidad/FICT">FICT</a>
                        <a href="/unidad/FADCOM">FADCOM</a>
                        <a href="/unidad/FCNM">FCNM</a>
                        <a href="/unidad/FCSH">FCSH</a>
                        <a href="/unidad/ESPAE">ESPAE</a>
                        <a href="/unidad/FCV">FCV</a>
                        <a href="/unidad/FIMCP">FIMCP</a>
                        <a href="/unidad/FIMCM">FIMCM</a>

                    </div>

                </section>
            </div>
            <div class="tab-pane fade" id="centros-investigacion" role="tabpanel" aria-labelledby="profile-tab">

            </div>
            <div class="tab-pane fade" id="estadisticas" role="tabpanel" aria-labelledby="contact-tab">

            </div>
            <div class="tab-pane fade" id="autores-top" role="tabpanel" aria-labelledby="contact-tab">
                <section class="container p-3 text-center">
        
                    <div class="row justify-content-center">
                        <div class="col-md-8">
    
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Autor</th>
                                    <th scope="col">H-index</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% i = 0 %>
                                    <% authors.forEach(item => { %>
                                        <% i++ %>
                                        <tr>
                                            <th scope="row"><%= i %></th>
                                            <td id="<%= item.id %>" class="autor">
                                                <a style="text-decoration: none; color: black;" 
                                                href="/investigador/<%= item.id %>"> 
                                                    <%= item.name %> 
                                                </a>
                                            </td>
                                            <td>
                                                <%= item.h5 %>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
    
                        </div>
                    </div>
    
                </section>

            </div>
        </div>
    
    </div>  

    </main>

    <!-- <%- include("templates/footer.templates.ejs")%> -->

</body>
</html>