<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
    <title>Repositorio de investigadores</title>
</head>
<body>
    <main>
        
        <div class="finder">
            <img src="/img/logo-espol.png" alt="logo">

            <h2><b>Repositorio de investigadores</b></h2>
            
            <form method="POST" action="/resultados" class="form-group">
                <div class="form-group">
                    <input type="search" class="form-control" id="input-finder"
                    placeholder="Busca un investigador, unidad académica o centro de investigación" 
                    name="terms" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="submit-finder" value="Buscar">
                </div>   
            </form>
        </div>

        <br/>
        <br/>
        <br/>

        <div class="container text-center">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="investigadores-tab" data-bs-toggle="tab" data-bs-target="#unidades-academicas" type="button" role="tab" aria-controls="home" aria-selected="true">Unidades académicas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#centros-investigacion" type="button" role="tab" aria-controls="profile" aria-selected="false">Centros de investigación</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#estadisticas" type="button" role="tab" aria-controls="contact" aria-selected="false">Estadísticas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#autores-top" type="button" role="tab" aria-controls="contact" aria-selected="false">Autores top</button>
                </li>
            </ul>
        </div>

        <div class="division"></div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="unidades-academicas" role="tabpanel" aria-labelledby="home-tab">
                <section class="container p-3 text-center">

                    <div class="row justify-content-center">
                        <div class="unidades_academicas" id="unidades_academicas">
                            <% faculties.forEach(item => { %>
                                <div id="<%= item.nombre %>" class="card m-4" style="width: 420px; height: 155px;">
                                    <div id="<%= item.nombre %>_header" class="card-header">
                                        Unidad académica
                                    </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="/unidad/<%= item.nombre %>" style="text-decoration: none; color: black;"><%= item.nombreCompleto %></a></h5>
                                            <a href="/unidad/<%= item.nombre %>" style="text-decoration: none; color: black;">(<%= item.nombre %>)</a>
                                    </div>
                                </div>
                            <% }) %>
                        </div> 
                    </div>

                </section>
            </div>
            <div class="tab-pane fade" id="centros-investigacion" role="tabpanel" aria-labelledby="profile-tab">
                <section class="container p-3 text-center">

                    <div class="row justify-content-center">
                        <div class="centros_investigacion" id="centros_investigacion">
                            <% centros.forEach(item => { %>
                                <div id="<%= item.nombre %>" class="card m-4" style="width: 420px; height: 155px;">
                                    <div id="<%= item.nombre %>_header" class="card-header">
                                        Centro de Investigación
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="/centro/<%= item.nombre %>" style="text-decoration: none; color: black;"><%= item.nombreCompleto %></a></h5>
                                        <a href="/centro/<%= item.nombre %>" style="text-decoration: none; color: black;">(<%= item.nombre %>)</a>
                                    </div>
                                </div>
                            <% }) %>
                        </div> 
                    </div>

                </section>
            </div>
            <div class="tab-pane fade" id="estadisticas" role="tabpanel" aria-labelledby="contact-tab">
                <section class="container p-3">
                    <div class="row"> 
                        <div class="col-md-6">
                            <div id="info-citaciones"></div>
                            <canvas id="grafica-citaciones" width="400" height="300">
                            </canvas>
                        </div>
                        <div class="col-md-6">
                            <div id="info-publicaciones"></div>
                            <canvas id="grafica-publicaciones" width="400" height="300">
                            </canvas>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="autores-top" role="tabpanel" aria-labelledby="contact-tab">
                <section class="container p-3 text-center">
        
                    <div class="row justify-content-center">
                        <div class="col-md-8" id="top-table">

                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
    
                        </div>
                    </div>
    
                </section>

            </div>
        </div>
    
    </div>  

    </main>
    <!-- <%- include("templates/footer.templates.ejs")%> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/js/graficosMain.js"></script>
    <script src="/js/topAuthors.js"></script>
</body>
</html>