<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/resultados.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>Resultados de búsqueda</title>

</head>
<body>
    <main>

        <header class="container">
            <div class="row justify-content-center">

                <div class="col-md-2">
                    <div class="language_switch">
                        <div class="flags_item" title="Spanish">
                            <img src="/img/ec.svg" alt="admin">
                        </div>
                        <label class="switch">
                            <input type="checkbox" class="check">
                            <span class="slider round"></span>
                        </label>
                        <div class="flags_item" title="English">
                            <img src="/img/us.svg" alt="admin">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <a href="/"><img src="/img/logo-espol-2.png" width="99" height="46px" alt="logo"></a>
                </div>
                
                <form method="POST" action="/resultados" class="col-md-8 container">
                    <div class="row justify-content-start">

                        <div class="form-group col-md-11">
                            <input type="search" class="form-control" id="input-finder"
                            data-value="Busca un investigador, unidad académica o centro de investigación"
                            placeholder="Busca un investigador, unidad académica o centro de investigación" 
                            name="terms" required>
                            
                        </div>
                        <div class="form-group col-md-1">
                            <input type="submit" class="btn btn-primary" id="submit-finder" data-value="Buscar" value="Buscar">
                        </div>

                        

                    </div>
                </form>
               
            </div>
        </header>

        <% if(total>0){ %>
            <h3><%= total %> resultado(s) de búsqueda para <%= terminos %>:</h3>
            <div class="container">
                <div class="row justify-content-center" id="resultados">
                    <div class="col-md-6">
    
                        <% investigadores.forEach(resultado => { %>
    
                            <div class="card m-4">
    
                                <div class="card-header text-center" data-value="Investigador">
                                    Investigador
                                </div>
    
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <img src="<%= resultado.srcFoto %>" class="rounded img-fluid" style="object-fit: contain" >
                                        </div>
                                        <div class="col-7 pe-5">
                                            <h5 class="card-title"><%= resultado.name %></h5>
    
                                            <form action="/investigador/<%= resultado.scopusId %>" 
                                                method="get">
    
                                                    <input type="submit" 
                                                    class="btn btn-primary" 
                                                    data-value="Ver perfil"
                                                    value="Ver perfil"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#loadingModal">
    
                                            </form> 
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        
                        <% }) %>
    
                        <% facultades.forEach(facultad => { %>
    
                            <div class="card m-4">
    
                                <div class="card-header text-center" data-value="Unidad académica">
                                    Unidad académica
                                </div>
                                
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <img src="<%= facultad.logo %>" class="rounded img-fluid" style="object-fit: contain" >
                                        </div>
                                        <div class="col-7 pe-5">
                                            <h5 class="card-title"><%= facultad.nombre %></h5>
                            
                                            <form action="/unidad/<%= facultad.nombre %>" 
                                            method="get">
    
                                                    <input type="submit" 
                                                    class="btn btn-primary"
                                                    data-value="Ver perfil" 
                                                    value="Ver perfil"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#loadingModal">
    
                                            </form> 
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        
                        <% }) %>
    
                        <% centros.forEach(centro => { %>
    
                            <div class="card m-4">
    
                                <div class="card-header text-center" data-value="Centro de investigación">
                                    Centro de investigación
                                </div>
                                
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <img src="<%= centro.logo %>" class="rounded img-fluid" style="object-fit: contain" >
                                        </div>
                                        <div class="col-7 pe-5">
                                            <h5 class="card-title"><%= centro.nombre %></h5>
                            
                                            <form action="/centro/<%= centro.nombre %>" 
                                            method="get">
                                                    <input type="submit" 
                                                    class="btn btn-primary"
                                                    data-value="Ver perfil" 
                                                    value="Ver perfil"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#loadingModal">
                                            </form> 
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        
                        <% }) %>
    
                    </div>
                </div>
            </div>
        <% } %>


        <% if(totalKw>0){ %>
            <h3><%= totalKw %> investigador(es) trabajan sobre <%= terminos %>:</h3>
            
            <div class="container">
                <div class="row justify-content-center" id="resultados">
                    <div class="col-md-6">
    
                        <% autoresKw.forEach(autor => { %>
    
                            <div class="card m-4">
    
                                <div class="card-header text-center" data-value="Investigador">
                                    Investigador
                                </div>
    
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <img src="<%= autor.srcFoto %>" class="rounded img-fluid" style="object-fit: contain" >
                                        </div>
                                        <div class="col-7 pe-5">
                                            <h5 class="card-title"><%= autor.name %></h5>
    
                                            <form action="/investigador/<%= autor.scopusId %>" 
                                                method="get">
    
                                                    <input type="submit" 
                                                    class="btn btn-primary" 
                                                    data-value="Ver perfil"
                                                    value="Ver perfil"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#loadingModal">
    
                                            </form> 
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        
                        <% }) %>
    
                    </div>
                </div>
            </div>
        <% } %>

        <% if(total==0 && totalKw==0){ %>
            <h3>No se econtraron resultados para <%= terminos %></h3>
        <% } %>


        <div class="modal fade" id="loadingModal" data-bs-backdrop="static" 
                    data-bs-keyboard="false" tabindex="-1" 
                    aria-labelledby="staticBackdropLabel" 
                    aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered modal-sm">

                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title text-center">Cargando perfil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body d-flex justify-content-center">

                        <div class="modal-dialog">

                            <div class="spinner-border text-secondary" role="status" 
                             style="width: 3rem; height: 3rem;">
                                <span class="visually-hidden">Loading...</span>
                            </div>

                        </div>

                    </div> 
                </div>

            </div>

        </div>

    </main>
    <script src="/js/config_lang.js"></script>
    <%- include("templates/footer.templates.ejs")%>
</body>
</html>