<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/resultados.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar2.css">
    <title>Resultados de búsqueda</title>

</head>
<body>
    <%- include("templates/navbar_results.templates.ejs")%>
    <main>

        
        
        <% if(total>0){ %>
            <div class="text_results"><h3 style="display:inline"><%= total %> <h3 style="display:inline" data-value="resultado(s) de búsqueda para">resultado(s) de búsqueda para</h3> <h3 style="display:inline"><%= terminos %>:</h3></div>
            <div class="container">
                <div class="row justify-content-center" id="resultados">
                    <div class="col-md-6">
    
                        <% investigadores.forEach(resultado => { %>
    
                            <div class="card m-4">
    
                                <div class="card-header text-center" data-value="Investigador">
                                    Investigador
                                </div>
    
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <img src="<%= resultado.srcFoto %>" class="rounded img-fluid" style="object-fit: contain" >
                                        </div>
                                        <div class="col-7 pe-5">
                                            <h5 class="card-title"><%= resultado.name %></h5>
    
                                            <form action="/investigador/<%= resultado.scopusId %>" 
                                                method="get">
    
                                                    <input type="submit" 
                                                    class="btn btn-primary" 
                                                    data-value="Ver perfil"
                                                    value="Ver perfil"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#loadingModal">
    
                                            </form> 
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        
                        <% }) %>
    
                        <% facultades.forEach(facultad => { %>
    
                            <div class="card m-4">
    
                                <div class="card-header text-center" data-value="Unidad académica">
                                    Unidad académica
                                </div>
                                
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <img src="<%= facultad.logo %>" class="rounded img-fluid" style="object-fit: contain" >
                                        </div>
                                        <div class="col-7 pe-5">
                                            <h5 class="card-title"><%= facultad.nombre %></h5>
                            
                                            <form action="/unidad/<%= facultad.nombre %>" 
                                            method="get">
    
                                                    <input type="submit" 
                                                    class="btn btn-primary"
                                                    data-value="Ver perfil" 
                                                    value="Ver perfil"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#loadingModal">
    
                                            </form> 
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        
                        <% }) %>
    
                        <% centros.forEach(centro => { %>
    
                            <div class="card m-4">
    
                                <div class="card-header text-center" data-value="Centro de investigación">
                                    Centro de investigación
                                </div>
                                
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <img src="<%= centro.logo %>" class="rounded img-fluid" style="object-fit: contain" >
                                        </div>
                                        <div class="col-7 pe-5">
                                            <h5 class="card-title"><%= centro.nombre %></h5>
                            
                                            <form action="/centro/<%= centro.nombre %>" 
                                            method="get">
                                                    <input type="submit" 
                                                    class="btn btn-primary"
                                                    data-value="Ver perfil" 
                                                    value="Ver perfil"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#loadingModal">
                                            </form> 
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        
                        <% }) %>
    
                    </div>
                </div>
            </div>
        <% } %>


        <% if(totalKw>0){ %>
            <div class="text_results"><h3 style="display:inline"><%= totalKw %> <h3 style="display:inline" data-value="investigador(es) trabajan sobre">investigador(es) trabajan sobre</h3> <h3 style="display:inline"><%= terminos %>:</h3></div>
            
            <div class="container">
                <div class="row justify-content-center" id="resultados">
                    <div class="col-md-6">
    
                        <% autoresKw.forEach(autor => { %>
    
                            <div class="card m-4">
    
                                <div class="card-header text-center" data-value="Investigador">
                                    Investigador
                                </div>
    
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <img src="<%= autor.srcFoto %>" class="rounded img-fluid" style="object-fit: contain" >
                                        </div>
                                        <div class="col-7 pe-5">
                                            <h5 class="card-title"><%= autor.name %></h5>
    
                                            <form action="/investigador/<%= autor.scopusId %>" 
                                                method="get">
    
                                                    <input type="submit" 
                                                    class="btn btn-primary" 
                                                    data-value="Ver perfil"
                                                    value="Ver perfil"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#loadingModal">
    
                                            </form> 
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        
                        <% }) %>
    
                    </div>
                </div>
            </div>
        <% } %>

        <% if(total==0 && totalKw==0){ %>
            <div class="text_results">
                <h3 style="display:inline" class="text_results" data-value="No se econtraron resultados para">No se econtraron resultados para</h3> <h3 style="display:inline"><%= terminos %></h3>
            </div>    
        <% } %>

        <% if(totalSug>0){ %>
            <div class="text_results">
                <h3 style="display:inline" data-value="Temas sugeridos:">Temas sugeridos:</h3> 
                <% i = 0 %>
                <% temas_sugeridos.forEach(tema => { %>
                    <% i++ %>
                    <h4 style="display:inline"><a href="#" onclick="holaf('<%= tema %>')"> <%= tema %> </a></h4>
                    <% if(totalSug!=i){ %>
                        <h4 style="display:inline"> , </h4>
                    <% } %>    
                <% }) %>
            </div>
        <% } %>


        <div class="modal fade" id="loadingModal" data-bs-backdrop="static" 
                    data-bs-keyboard="false" tabindex="-1" 
                    aria-labelledby="staticBackdropLabel" 
                    aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered modal-sm">

                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title text-center" data-value="Cargando perfil">Cargando perfil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body d-flex justify-content-center">

                        <div class="modal-dialog">

                            <div class="spinner-border text-secondary" role="status" 
                             style="width: 3rem; height: 3rem;">
                                <span class="visually-hidden">Loading...</span>
                            </div>

                        </div>

                    </div> 
                </div>

            </div>

        </div>

    </main>
   
    <%- include("templates/footer.templates.ejs")%>
    <script src="/js/config_lang.js"></script>
    <script src="/js/sugerencias.js"></script>
</body>
</html>