<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
    <title>Unidad académica</title>
</head>
<body>
    <%- include("templates/navbar.templates.ejs", {titulo: "Unidad académica"})%>
    <main>
        <div id="maincontainer">
            <section class="container p-3">
                <div class="row">
                    <h3><%= siglas %></h3>
                    <div class="col-md-6">
                        <p><%= nombre %></p>
                    </div>

                    <div class="col-md-6"></div>
                </div>
            </section>

            <div class="division"></div>

            <section class="container p-3">
                <div class="row"> 
                    <div class="col-md-2">
                        <h5>Métricas</h5>
                        <h5><%= totalInvestigadores %></h5>
                        <p>Investigadores</p>
                    </div>
                    <div class="col-md-5">
                        <canvas id="grafica-citaciones" width="400" height="300">
                        </canvas>
                    </div>
                    <div class="col-md-5">
                        <canvas id="grafica-publicaciones" width="400" height="300">
                        </canvas>
                    </div>
                </div>
            </section>

            <div class="container text-center">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="investigadores-tab" data-bs-toggle="tab" data-bs-target="#investigadores" type="button" role="tab" aria-controls="home" aria-selected="true">Investigadores</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Estadísticas</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Proyectos</button>
                    </li>
                </ul>
            </div>

            <div class="division"></div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="investigadores" role="tabpanel" aria-labelledby="home-tab">

                    <section class="container p-3 text-center">
        
                        <div class="row justify-content-center">
                            <div class="col-md-8">
        
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Autor</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% i = 0 %>
                                        <% investigadores.forEach(item => { %>
                                            <% i++ %>
                                            <tr>
                                                <th scope="row"><%= i %></th>
                                                <td>
                                                    <a style="text-decoration: none; color: black;" 
                                                    href="/investigador/<%= item.id %>"> 
                                                        <%= item.autor %> 
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }) %>
                
                                    </tbody>
                                </table>
        
                            </div>
                        </div>
        
                    </section>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        
        </div>  
    </main>
</body>
</html>