<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <title>Unidad académica</title>
</head>
<body>
    <%- include("templates/navbar.templates.ejs", {titulo: "Unidad académica"})%>
    <main>
        <div id="maincontainer">
            <section class="container p-3">

                <div class="row align-items-center">
 
                    <div class="col-md-6 d-flex justify-content-center">
                    
                        <img src="<%= logo %>" style="object-fit: contain" class="me-2 rounded h-100 w-25 img-fluid"/>
                        <div>
                            <h2 id="uaId"><%= siglas %></h2>
                            <h3 id="uaName"><%= nombre %></h3>
                            
                            <% if(link){ %>
                                <p>
                                    <a href="http://<%= link %>" target="_blank">
                                        <%= link %>
                                    </a>
                                </p>
                            <% } %>
                            <p id="uaType" style="display: none">unidad académica</p>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h5 data-value="Áreas de investigación">Áreas de investigación</h5>
                        <div id="areas"></div>
                    </div>
                </div>

            </section>

            <div class="divisions"></div>

            <section class="container p-3">
                <div class="row"> 
                    <div class="col-md-2">
                        <h5 data-value="Métricas">Métricas</h5>
                        <h5><%= totalInvestigadores %></h5>
                        <p data-value="Investigadores">Investigadores</p>
                        <h5><%= totalMujeres %></h5>
                        <p data-value="Mujeres">Mujeres</p>
                        <h5><%= totalHombres %></h5>
                        <p data-value="Hombres">Hombres</p>
                        <h5 id="total-publications">
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </h5>
                        <p data-value="Publicaciones">Publicaciones</p>
                        <h5 id="total-citations">
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </h5>
                        <p data-value="Citaciones">Citaciones</p>

                        <img src="/img/info.ico" data-toggle="tooltip" data-placement="top"
                        data-value="Incluir solo publicaciones con afiliación a ESPOL."
                        title="Incluir solo publicaciones con afiliación a ESPOL."/>
                        <div class="d-flex">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="instfilter" checked>
                            </div>
                            <img src="/img/favicon.ico" style="height: 5vh"/>
                        </div>

                    </div>
                    <div class="col-md-5 text-center">
                        <div id="info-citaciones" >
                            <p style="display:inline" data-value="Citaciones por publicación">Citaciones por publicación</p>
                            <img src="/img/info.ico" data-toggle="tooltip" data-placement="top" 
                            data-value="Citaciones de las publicaciones de la unidad académica de los últimos seis años. Estos son siempre los años en los que se publicaron los artículos y no se refieren a los años en los que se recibieron las citas."
                            title="Citaciones de las publicaciones de la unidad académica de los últimos seis años.&#10Estos son siempre los años en los que se publicaron&#10los artículos y no se refieren a los años en los que se&#10recibieron las citas.">
                            </img>
                        </div>
                        <div id="spinner-citas" class="mt-4">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <canvas id="grafica-citaciones" width="400" height="300">
                        </canvas>
                    </div>
                    <div class="col-md-5 text-center">
                        <div id="info-publicaciones">
                            <p style="display:inline" data-value="Publicaciones por año">Publicaciones por año</p>
                            <img src="/img/info.ico" data-toggle="tooltip" data-placement="top"
                            data-value="Cantidad de publicaciones indexadas de la unidad académica por cada uno de los últimos seis años" 
                            title="Cantidad de publicaciones indexadas de la unidad académica&#10por cada uno de los últimos seis años.">
                            </img>
                        </div>
                        <div id="spinner-publicaciones" class="mt-4">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <canvas id="grafica-publicaciones" width="400" height="300">
                        </canvas>
                    </div>
                    
                </div>
            </section>

            <div class="container text-center">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="investigadores-tab" data-bs-toggle="tab" data-bs-target="#investigadores" type="button" role="tab" aria-controls="home" aria-selected="true" data-value="Investigadores">Investigadores</button>
                    </li>
                    
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#proyectos" type="button" role="tab" aria-controls="contact" aria-selected="false" data-value="Proyectos">Proyectos</button>
                    </li>
                </ul>
            </div>

            <div class="divisions"></div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="investigadores" role="tabpanel" aria-labelledby="home-tab">

                    <section class="container p-3 text-center">
        
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="">
                                    <label class="btn btn-outline-primary option" for="btnradio1" id="opt-todos" onclick="showAll()" data-value="Todos">Todos</label>
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                    <label class="btn btn-outline-primary option" for="btnradio3" id="optf" onclick="filterByGender('F')" data-value="Mujeres">Mujeres</label>
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-outline-primary option" for="btnradio2" id="optm" onclick="filterByGender('M')" data-value="Hombres">Hombres</label>
                                </div>
                                <table id="sortedTable" class="display" style="width:100%">
                                    <thead class="clickable-header">
                                      <tr>
                                        <th scope="col" style="text-align:center">#</th>
                                        <th scope="col" style="text-align:center" data-value="Autor">Autor</th>
                                        <th scope="col" style="text-align:center" data-value="Publicaciones">Publicaciones</th>
                                        <th scope="col" style="text-align:center" data-value="Citaciones">Citaciones</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% i = 0 %>
                                        <% investigadores.forEach(item => { %>
                                            <% i++ %>
                                            <tr class="item i-item <%= item.sexo %>" onclick="window.location.href='/investigador/<%= item.id %>'">
                                                <th scope="row"><%= i %></th>
                                                <td id="<%= item.id %>" class="autor">
                                                    <%= item.autor %>
                                                </td>
                                                <td id="publicaciones-<%= item.id %>">
                                                    <%= item.publicaciones %>
                                                </td>
                                                <td id="citaciones-<%= item.id %>">
                                                    <%= item.citaciones %>
                                                </td>
                                            </tr>
                                        <% }) %>
                
                                    </tbody>
                                </table>
        
                            </div>
                        </div>
        
                    </section>

                </div>

                <div class="tab-pane fade" id="proyectos" role="tabpanel" aria-labelledby="profile-tab">
                    <section class="container p-3">
        
                        <div class="row justify-content-center text-start" id="proyectos">
                            <div class="col-md-2 flex-column">
                                <h5>Métricas</h5>
                                <div id="num-current-projects">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <p data-value="En ejecución">En ejecución</p>
                                <div id="num-finished-projects">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <p data-value="Finalizados">Finalizados</p>
                                <div id="num-total-projects">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <p data-value="Total">Total</p>
                            </div>

                            <div class="col-md-5">   
                                
                                <div class="text-center">
                                    <p style="display:inline" data-value="Proyectos por año de inicio">Proyectos por año de inicio</p>
                                    <img src="/img/info.ico" data-toggle="tooltip" data-placement="top" 
                                    data-value="Cantidad de proyectos iniciados por año"
                                    title="Cantidad de proyectos iniciados por año">
                                    </img>
                                </div>
                                
                                <div id="temp-spinner" class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>

                                <canvas id="projects-by-year"></canvas>
                            </div>
                            <div class="col-md-5">   
                                <div class="text-center">
                                    <p style="display:inline" data-value="Proyectos por año de finalización">Proyectos por año de finalización</p>
                                    <img src="/img/info.ico" data-toggle="tooltip" data-placement="top" 
                                    data-value="Cantidad de proyectos por año de finalización"
                                    title="Cantidad de proyectos por año de finalización">
                                    </img>
                                </div>
                                <div id="f-temp-spinner" class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <canvas id="projects-by-finish"></canvas>
                            </div>
                        </div>

                        <div class="row justify-content-evenly">   
                            <div class="mb-4" id='current-projects'></div>       
                            <div id="divisor"></div>
                            <div class="mt-4" id="finished-projects"></div>
                        </div>
        
                    </section>
                </div>
            </div>
        
        </div>  
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="/js/config_lang.js"></script>
    <script src="/js/tableSorter.js"></script>
    <script src="/js/gender.js"></script>
    <script src="/js/graficosUA.js"></script>
    <script src="/js/proyectosUA.js"></script>
    

</body>
</html>